# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment
.env
.venv/
venv/
env/

# Database
db.sqlite3
*.sqlite3

# Logs
*.log

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Django
staticfiles/
media/